In [28]:
import sqlite3
import pandas as pd

con = sqlite3.connect("immo.db")
cur=con.cursor()

data = pd.read_excel("valeurs_foncieres.xlsx")
data_dc = pd.read_excel("donnees_communes.xlsx")
data_3 = pd.read_excel("fr-esr-referentiel-geographique.xlsx")

Nous allons créer la table REGION. Pour cela nous avons besoin des colonnes :

    -reg_code
    -reg_nom
    -regrp_nom

In [90]:
REGION = data_3[['regrgp_nom','reg_nom','reg_code']]
REGION.drop_duplicates(inplace=True)

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_15272\2314374183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  REGION.drop_duplicates(inplace=True)

In [91]:
REGION.rename(columns={'regrgp_nom' : 'regrp_nom'}, inplace=True)

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_15272\266201803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  REGION.rename(columns={'regrgp_nom' : 'regrp_nom'}, inplace=True)

In [92]:
con = sqlite3.connect("immo.db")

REGION.to_sql('region', con, if_exists="replace", index=False)

19

Nous allons créer la table DEPARTEMENT. Pour cela nous avons besoin des colonnes :
    
    -dep_nom
    -reg_code
    -dep_code

In [63]:
DEPARTEMENT = data_3[['dep_code', 'dep_nom','reg_code']]
DEPARTEMENT.drop_duplicates(inplace=True)

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_15272\729136423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEPARTEMENT.drop_duplicates(inplace=True)

In [85]:
DEPARTEMENT.to_sql('departement', con, if_exists="replace", index=False)

109

Nous allons créer la table COMMUNE. Pour cela nous allons avoir besoin des colonnes :
    
    -id_codedep_codecommune
    -code_departement
    -code_commune
    -code_postal
    -nom_commune

In [77]:
test = data_dc[['PMUN','PCAP','PTOT','COM']]

In [ ]:
test2 = data[['']]

In [104]:
data[['Code ID commune', 'Code postal', 'Code departement', 'Code commune', 'Commune']]

,Code ID commune,Code postal,Code departement,Code commune,Commune
0,0,1370.0,1,350,SAINT-ETIENNE-DU-BOIS
1,1,1170.0,1,103,CHEVRY
2,1,1170.0,1,103,CHEVRY
3,1,1170.0,1,103,CHEVRY
4,1,1170.0,1,103,CHEVRY
...,...,...,...,...,...
34164,3192,97419.0,974,8,LA POSSESSION
34165,3192,97419.0,974,8,LA POSSESSION
34166,3193,97410.0,974,16,SAINT PIERRE
34167,3193,97410.0,974,16,SAINT PIERRE
34168,3194,97424.0,974,13,SAINT-LEU

Nous allons créer la table VENTE. Pour cela nous avons besoin des colonnes :

    -Id_vente
    -date
    -valeur

In [98]:
vente = data[['Date mutation', 'Valeur fonciere']]
vente.rename(columns={'Date mutation' : 'date', 
                              'Valeur fonciere':'valeur'}, inplace=True)

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_15272\566623897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vente.rename(columns={'Date mutation' : 'date',

In [99]:
vente.drop_duplicates(inplace=True)
vente['id_vente'] = vente.index

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_15272\2305867910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vente.drop_duplicates(inplace=True)
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_15272\2305867910.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vente['id_vente'] = vente.index

In [101]:
vente.to_sql('vente', con, if_exists="replace", index=False)

28984